spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://placeholder
          predicates:
            - Path=/users/**
          filters:
            - name: AdaptiveLoadBalancingFilter
